@import "~antd/dist/antd.css";

body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
}
#root {
  width: 100%;
  min-height: 100%;
}

.app {
  height: 100vh;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.preloader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.error {
  margin-bottom: 10px;
}

.input {
  margin-bottom: 0;
}

.title {
  text-align: center;
  margin-bottom: 15px;
}
.subtitle {
  color: #8c8c8c;
}
.form {
  width: 40%;
  margin: 0 auto;
  &__input {
    margin-bottom: 15px;
  }
}
.map {
  height: 90%;
  div {
    height: 100%;
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.map-btn {
  margin: 10px 0;
}
.radio-group {
  margin: 20px 0;
  display: block;
}
.header {
  display: flex;
  align-items: center;
  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    margin-right: 25px;
    a {
      color: white;
    }
  }
  &__menu {
    flex: 1;
  }
  &__logout {
    padding: 0px 10px;
    a {
      color: white;
    }
  }
}

.sidebar {
  height: calc(100vh - 64px);
  overflow-x: hidden;
  overflow-y: auto;
  &__menu {
    height: 100%;
    border-right: 0;
  }
}
.align-center {
  display: flex;
  align-items: center;
}
.content {
  padding: 24px;
  margin: 0;
}
.page-header {
  padding: 24px;
  background-color: #f5f5f5;
}

.orders {
  // display: flex;
  // flex-wrap: wrap;
  padding: 20px;
  column-count: 4;
  column-gap: 1em;
  &__item {
    // width: 32%;
    // margin: 15px 15px 0 0;
    display: inline-block;
    margin: 0 0 1em;
    width: 100%;
    &:last-child {
      // margin-right: 0;
    }
  }
}

.order {
  &__NEW {
    background-color: #d9f7be;
  }
  &__ARCHIVED {
    background-color: #d9d9d9;
  }
  &__DELETED {
    background-color: #ffccc7;
  }
  &__dropicon {
    color: "#000";
    font-size: 24px;
  }
  &__dropdown {
    -webkit-box-shadow: -2px 5px 8px 1px rgba(34, 60, 80, 0.2) !important;
    -moz-box-shadow: -2px 5px 8px 1px rgba(34, 60, 80, 0.2) !important;
    box-shadow: -2px 5px 8px 1px rgba(34, 60, 80, 0.2) !important;
  }
  &__dropbtn {
  }
  &__date {
  }
  &__descr {
    max-height: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  &__body {
    padding: 24px;
  }
  &__images {
  }
  &__image {
    padding: 5px;
  }
  &__numeric-fields {
    display: flex;
    justify-content: center;
  }
  &__comment-input {
    flex: 1;
    margin-right: 15px;
    margin-bottom: 10px;
  }
  &__totalsum-input {
    flex: 1;
    margin-bottom: 10px;
  }
  &__descr-input {
    margin-bottom: 10px;
  }
  &__totalsum-field {
    display: flex;
    flex-direction: column;
  }
  &__title-input {
    margin-bottom: 10px;
  }
  &__save-btn {
    margin-top: 10px;
  }
}

.categories {
  &__actions {
  }
  &__btn {
    margin-left: 10px;
  }
  &__header {
    display: inline-block;
  }
  &__select-wrapper {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    .error-text {
      color: #ff4d4f;
      display: none;
    }
  }
  &__select-error {
    .error-text {
      display: inline-block;
    }
    .categories__select {
      border: 1px solid #ff4d4f;
    }
  }
  &__select {
    width: 40%;
  }
  &__save-btn {
    margin-top: 10px;
  }
}

.contractors {
  padding: 20px;
}
.contractor {
  margin-bottom: 15px;
  &__SUPPLIER {
    background-color: #e6fffb;
  }
  &__CUSTOMER {
    background-color: #bae7ff;
  }
  &__deleted {
    background-color: #ffccc7;
  }
  &__body {
    padding: 24px;
  }
}
